*{
  margin:0;
  padding:0;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
#App {
  width:90%;
  height:1300px;
  /* background-color: aqua; */
  border:1px solid #ddd;
  margin: 100px auto;
}

.icon_common{
  display:block;
}

.printer{
  background: url('./images/icon_set_common.png') 0px -205px;
  width:32px;
  height:32px;
}
.notice{
  background: url('./images/icon_set_common.png') -180px 0px;
  width:110px;
  height:45px;
}

.icon_sns{
  display:block;
  width:24px;
  height:24px;
}

.wifi{
  background: url('./images/icon_set_sns.png') 0px 0px;
}
.facebook{
  background: url('./images/icon_set_sns.png') -25px 0px;
}
.twitter{
  background: url('./images/icon_set_sns.png') -50px 0px;
}
.instagram{
  background: url('./images/icon_set_sns.png') -75px 0px;
}
.kakao_stroy{
  background: url('./images/icon_set_sns.png') -100px 0px;
}
.youtube{
  background: url('./images/icon_set_sns.png') -125px 0px;
}
.blog{
  background: url('./images/icon_set_sns.png') 0px 0px;
}


